body {
  font-family: helvetica,arial,sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

header {
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
}

.logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.top_nav {
  list-style: none;
  display: inline-flex;
  justify-content: flex-end;
}

.top_nav li {
  margin-right: 15px;
}

.top_nav li a {
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images {
  margin: 11px;
  align-items: center;
}

.images img {
  border:1px solid #cacaca;
  vertical-align: middle;
  margin-left: 5px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
  border-bottom: 1px solid #cacaca;
}

.details p {
  color: #cacaca;
}
